<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.automation.cellcounter">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConteoActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Conteo_Inicial" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SembrarPlacaActivity"  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Calculadora"  android:screenOrientation="portrait"></activity>
        <activity android:name=".ajustar_concentracion"  android:screenOrientation="portrait">


        </activity>
        <activity android:name=".DatosActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>